*{
  margin:0px;
}
.container{
  display:flex;
  flex-flow:column wrap;
  justify-content:space-evenly;
}
.item{
   display:flex;
  justify-content:space-evenly;
   align-items:center;
}
.item1,.item2,.item3{
  display:flex;
  flex-flow:column wrap;
  align-items:center;
  justify-content:center;
  box-shadow:8px 8px 5px gray;
  background-color:white;
   margin:2%;
}
img{
  width:100%;
}
.item2:hover,.item1:hover,.item3:hover{
  color:green;
}
button{
  margin:10px 30px;
  width:60%;
}
.text{
  inline-size:50%;
  padding:15px;
}
